# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# TODO: Look at https://3dprintbeginner.com/faster-klipper-bed-probing-macro/
#     https://gist.github.com/frankbags/c85d37d9faff7bce67b6d18ec4e716ff
#     https://gist.github.com/ChipCE/95fdbd3c2f3a064397f9610f915f7d02

# Ender 3 v2: https://github.com/Klipper3d/klipper/blob/master/config/printer-creality-ender3-v2-2020.cfg
# BTT SKR mini e3 v3.0: https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3/blob/master/firmware/V3.0/Klipper/SKR-mini-E3-V3.0-klipper.cfg

# Config Checks: https://www.klipper3d.org/Config_checks.html?utm_source=pocket_mylist
# Probe Calibration: https://www.klipper3d.org/Probe_Calibrate.html
# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
# Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.524000503543734 # Set for BMG; Use https://3dprintbeginner.com/rotation-distance-calculator/ to calculate
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
min_temp: 0
max_temp: 250
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_03002F000350415339373620-if00
# Get value via ssh; then use command: ls /dev/serial/by-id

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  M3DP Settings
######################################################################

# Mainsail settings
[include mainsail.cfg]

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[probe]
pin:  ^!PC2
#z_offset: 4 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
speed: 5.0
# Offset for Hero Me 6
x_offset: 48
y_offset: -2
# From: https://raw.githubusercontent.com/VoronDesign/Voron-2/Voron2.4/firmware/klipper_configurations/SKR_1.4/Voron2_SKR_14_Config.cfg and https://www.reddit.com/r/klippers/comments/sk42tx/how_do_i_get_my_bltouch_to_probe_twice_at_each/
samples: 2
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.01
samples_tolerance_retries: 3

#[bltouch]
#sensor_pin: PC14
#control_pin: PA1
## Offset for Hero Me 6
#x_offset: 48
#y_offset: -2
#z_offset: 3.0
#z_offset: 4 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
#speed: 3.0
#samples: 2
#samples_result: median
#sample_retract_dist: 5.0
#samples_tolerance: 0.01
#samples_tolerance_retries: 3

# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5
mesh_max:187,233 # Make sure X,Y here meets these conditions (X+(bltouch+x_offset) < bed X) and (Y+(bltouch+y_offset) < Bed Y)
probe_count: 5,5
fade_start: 1
fade_end: 10

[screws_tilt_adjust]
screw1: 32,36
screw1_name: front_left
screw2: 32,206
screw2_name: front_right
screw3: 202,206
screw3_name: back_left
screw4: 202,36
screw4_name: back_right
# Additional bed leveling screws. At least two screws must be
# defined.
speed: 50
horizontal_move_z: 5
screw_thread: CW-M3

########################################
# Macros
########################################

#############################################
# CURA Start GCode
#############################################
# M104 {material_print_temperature_layer_0}
# M140 {material_bed_temperature_layer_0}
# START_PRINT
# PURGE_LINE
#############################################

# From: https://darkmage.cc/2022/06/13/ender-5-plus-how-to-level-your-bed/?utm_source=pocket_mylist
[gcode_macro START_PRINT]
variable_bed_temp: 65
variable_ext_temp: 205
gcode:
    M117 Homing
    # Use absolute coordinates
    G90
    # Start bed heating while calibrating
    M140 S{bed_temp} # set bed temp
    # Home the printer
    G28
    M117 Calibrating
    BED_MESH_CALIBRATE
    G1 X0.1 Y20 Z50 F3000
    M117 Heating extruder
    M109 S{ext_temp} # set extruder and wait
    M117 Heating bed
    M190 S{bed_temp} #wait for bed temp

# From: Used Start code from Cura Ender 3 v2 default machine start
[gcode_macro PURGE_LINE]
gcode:
    # Test Line
    M117 Printing Purge Line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
    G1 X0.1 Y20 Z0.3 F5000.0 ;Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ;Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ;Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
    M117 Here we go!

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=default

[gcode_macro M420]
gcode:
    BED_MESH_PROFILE LOAD=default
    BED_MESH_OUTPUT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.274
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.302
#*# pid_ki = 1.640
#*# pid_kd = 113.643
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.058
#*# pid_ki = 1.790
#*# pid_kd = 609.384
