# This file contains common pin mappings for the BigTreeTech SKR 3.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743", "128KiB bootloader", and "25MHz clock".

# See docs/Config_Reference.md for a description of parameters.

# Ender 5 Plus: https://github.com/Klipper3d/klipper/blob/master/config/printer-creality-ender5plus-2019.cfg
# BTT SKR 3: https://github.com/bigtreetech/SKR-3/blob/master/Firmware/Klipper/generic-bigtreetech-skr-3.cfg

# Config Checks: https://www.klipper3d.org/Config_checks.html?utm_source=pocket_mylist
# Probe Calibration: https://www.klipper3d.org/Probe_Calibrate.html
# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
# Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

[stepper_x]
step_pin: PD4
dir_pin: !PD3 # ! is used to switch Direction
enable_pin: !PD6
microsteps: 64
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 360
position_max: 360 # Bed X
homing_speed: 100


[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.800
diag_pin:
interpolate: False

[stepper_y]
step_pin: PA15
dir_pin: !PA8 # ! is used to switch Direction
enable_pin: !PD1
microsteps: 64
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 360
position_max: 360 #Bed Y
homing_speed: 100


[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.800
diag_pin:
interpolate: False

[stepper_z]
step_pin: PE2
dir_pin: !PE3 # ! is used to switch Direction
enable_pin: !PE0
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 410 # Build Height
position_min: 0
homing_speed: 10.0


[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.800
diag_pin:
interpolate: False

# Ref for Dual Z: https://www.reddit.com/r/klippers/comments/m27xhm/klipper_config_for_ender_5_plus_with_skr_14_turbo/
[stepper_z1]
step_pin: PD11
dir_pin: !PD10 # ! is used to switch Direction
enable_pin: !PD13
microsteps: 64
rotation_distance: 4


[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.600
diag_pin:
interpolate: False

# Description of Rotation Distance: https://github.com/Klipper3d/klipper/blob/master/docs/Rotation_Distance.md
[extruder]
step_pin: PD15
dir_pin: !PD14 # ! is used to switch Direction
enable_pin: !PC7
microsteps: 16
rotation_distance: 7.631 # Set for BMG; Use https://3dprintbeginner.com/rotation-distance-calculator/ to calculate
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA2
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.600
diag_pin:

[safe_z_home]
home_xy_position: 180, 180
speed: 100
z_hop: 10
z_hop_speed: 5

# BLTouch: https://www.klipper3d.org/BLTouch.html
[bltouch]
sensor_pin: ^PC13
control_pin: PE5
x_offset: -25
y_offset: -25
#z_offset: 4 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
speed: 3.0
pin_up_touch_mode_reports_triggered: False
# From: https://raw.githubusercontent.com/VoronDesign/Voron-2/Voron2.4/firmware/klipper_configurations/SKR_1.4/Voron2_SKR_14_Config.cfg and https://www.reddit.com/r/klippers/comments/sk42tx/how_do_i_get_my_bltouch_to_probe_twice_at_each/
samples: 2
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.01
samples_tolerance_retries: 3

# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5
mesh_max: 314,334 # Make sure X,Y here meets these conditions (X+(bltouch+x_offset) < bed X) and (Y+(bltouch+y_offset) < Bed Y)
probe_count: 5,5
fade_start: 1
fade_end: 10

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PA1
min_temp: 0
max_temp: 130

# Part Cooling Fan
[fan]
pin: PB7 

# Hotend Fan
[heater_fan fan1]
pin: PB6

#[heater_fan fan2]
#pin: PB5

# Mainsail settings
[include mainsail.cfg]

# Timelapse Settings
[include timelapse.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_200029001651303230343132-if00

[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 3000
max_accel_to_decel:3000
max_z_velocity: 10
max_z_accel: 100

[screws_tilt_adjust]
screw1: 60,40
screw1_name: front_left
screw2: 325,40
screw2_name: front_right
screw3: 60,315
screw3_name: back_left
screw4: 325,315
screw4_name: back_right
# Additional bed leveling screws. At least two screws must be
# defined.
speed: 50
horizontal_move_z: 5
screw_thread: CW-M3

[z_tilt]
z_positions: 378.4,180
  -18.4,180
# A list of X,Y coordinates (one per line; subsequent lines
# indented) describing the location of each bed "pivot point". The
# "pivot point" is the point where the bed attaches to the given Z
# stepper. It is described using nozzle coordinates (the XY position
# of the nozzle if it could move directly above the point). The
# first entry corresponds to stepper_z, the second to stepper_z1,
# the third to stepper_z2, etc. This parameter must be provided.
points: 360,180
  32,180
# A list of X,Y coordinates (one per line; subsequent lines | back |
# indented) that should be probed during a Z_TILT_ADJUST command. | |
# Specify coordinates of the nozzle and be sure the probe is above L z1 z R
# the bed at the given nozzle coordinates. This parameter must be | |
# provided. | front |
speed: 50
horizontal_move_z: 5
retries: 3
# Number of times to retry if the probed points aren't within
# tolerance.
retry_tolerance:0.01
# If retries are enabled then retry if largest and smallest probed
# points differ more than retry_tolerance. Note the smallest unit of
# change here would be a single step. However if you are probing
# more points than steppers then you will likely have a fixed
# minimum value for the range of probed points which you can learn
# by observing command output.

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

########################################
# Macros
########################################

# Minimal3DP Macros
# 
[include minimal3dp.cfg]

#############################
# Delete Below if resetting
#############################
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.480
#*# pid_ki = 1.456
#*# pid_kd = 149.245
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.370
#*# pid_ki = 0.963
#*# pid_kd = 1285.126
#*#
#*# [bltouch]
#*# z_offset = 1.923
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.132500, -0.104375, -0.083125, -0.090000, -0.168750
#*# 	  -0.072500, -0.029375, -0.043125, -0.060625, -0.101250
#*# 	  -0.025000, 0.022500, 0.018125, 0.004375, -0.046250
#*# 	  -0.110625, -0.059375, -0.050625, -0.061875, -0.110000
#*# 	  -0.227500, -0.140625, -0.123750, -0.121250, -0.147500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 314.0
#*# min_y = 5.0
#*# max_y = 334.0
